<a href="/"><< Home</a>

<h2>{{postDetail.title}}</h2>
<p>
  Posted by {{postDetail.username}}
  <a href="/{{postDetail.postId}}/edit" class="button">Edit Post</a>
  <a href="/{{postDetail.postId}}/delete" class="button">Delete Post</a>
<p>
<p>
  {{postDetail.postBody}}
</p>

<h4><i class="fa fa-comment-o"></i> <u>Comments</u></h4>
{{#each postComments}}
  <p>
    <a href="/{{../postDetail.postId}}/{{this.commentId}}/deleteComment" class="button">Delete</a>
    <b>{{this.username}}</b>: {{this.body}}
  </p>
{{/each}}

<h4><i class="fa fa-plus"></i> <u>Add a Comment</u></h4>
<form action="/{{postDetail.postId}}/" method="POST">
  <label for="username">Username:</label>
  <input name="post_id" value="{{postDetail.postId}}" type="hidden">
  <select id="username" name="author_id">
    <option disabled selected>---</option>
    {{#each usernames}}
      <option value="{{this.id}}">{{this.username}}</option>
    {{/each}}
  </select>
  <label for="comment">Comment:</label>
  <textarea name="body" id="comment" placeholder="comment"></textarea>
  <button type="submit">Add Comment</button>
</form>
